.manageItems {
  padding: 20px;
  background-color: #0d1633;
  color: white;
  height: 100vh; /* Adjust if needed */
  height: auto;
}

.tableWrapper {
  max-height: 700px; /* Set max height for scrolling */
  overflow-y: auto; /* Enables vertical scrolling */
}

.foodTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Optional: Adds border to table */
  border-radius: 4px;
  table-layout: fixed; /* Makes sure the columns are of equal width or as defined */
}

.foodTable th,
.foodTable td {
  border: 1px solid #ddd;
  padding: 15px; /* Adjust padding for more or less space between content and borders */
  text-align: center;
  word-wrap: break-word; /* Ensures long text wraps within the cell */
}

.foodTable th {
  background-color: #1b264f;
}

.foodTable tr:nth-child(even) {
  background-color: #1e3461;
}

.foodTable th:nth-child(1),
.foodTable td:nth-child(1) {
  width: 5%; /* Adjust for smaller index column */
}

.foodTable th:nth-child(2),
.foodTable td:nth-child(2) {
  width: 10%; /* Adjust width for image column */
}

.foodTable th:nth-child(3),
.foodTable td:nth-child(3) {
  width: 20%; /* Adjust width for Item Name */
}

.foodTable th:nth-child(4),
.foodTable td:nth-child(4) {
  width: 25%; /* Adjust width for Ingredients */
}

.foodTable th:nth-child(5),
.foodTable td:nth-child(5) {
  width: 10%; /* Adjust width for Price */
}

.foodTable th:nth-child(6),
.foodTable td:nth-child(6) {
  width: 10%; /* Adjust width for Available */
}

.foodTable th:nth-child(7),
.foodTable td:nth-child(7),
.foodTable th:nth-child(8),
.foodTable td:nth-child(8) {
  width: 10%; /* Adjust width for Update/Delete buttons */
}

.foodImage {
  width: 50px;
  height: auto;
}

.updateButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.updateButton {
  color: #ffd700;
}

.deleteButton {
  color: #ff4500;
}
.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.searchInput:focus {
  border-color: #007bff; /* Adds a focus effect */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a subtle glow when focused */
}

.centeredHeading {
  text-align: center;
}

