.carousel {
    width: 100%;
    background-color: aqua;
}

.image {
    width: 100%;
    height: 720px;
}

.left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 24px;
}

.right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 24px;
}